body, html{
    background-color: black;
    padding: 0;
    margin: 0;
    
}
h1 {
    color: white;
    font-family: Arial;
    font-size: 50px;
    text-align: center;
    
}

div#pSteve{
	width: 1250px;
	height:200px;
	background: url(images/Bleu.jpg);
    top: 0px;
    left: 30px;
    border: 3px solid white;
    color: white;
    right: 25px;
    position: absolute;
    
}
div#imagesteve{
    background: url(images/steve.jpeg);
    height: 500px;
    width: 500px;
    top: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 1px;
    border-radius: 10px;
}

p#tsteve{
    font-family: arial;
    position: absolute;
    top: 900px;
    left: 500px;
    font-size:  20px; 
    color: white;
    left:20px;
}
div{
    position: absolute;
    top: 300px;
    right:1px;
    width: 500px;
    height: 500px;
    border: 3px solid white;
    color: white;
    font-family: Arial;
}

    


